html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.bg {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
}
form {
    color: white;
}
.form-group {
    margin-bottom: 15px;
}

.logIn {
    width: 100%;
    padding: 10px;
    background-color: darkblue;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
button:hover {
    background-color: #000064;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.link1 {
    padding-top: 20px;
}
.link2 {
    padding-top: 10px;
}
.password{
    position: relative;
}
#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}

