.price_text {
    color: fuchsia;
}
.feature_text {
    font-size: 18px;
}
.titlee {
    font-size: 60px;
    text-align: center;
    margin-top: -60px;

}

.pricing-tab-nav {
    color: transparent;
}
