.r-title {
    font-size: 40px;
    text-align: center;
    margin-top: -60px;
}

.r-edit-bt {
    padding: 20px;
    max-width: 192px;
    max-height: 47px;
}


.rC-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.rC-inside{
    display: contents;
}

.route-card {
    position: relative;
    display: flex;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: white;
    border-radius: 50px;
    border-style: outset;
    border-color: white;
    box-shadow: 0  1px 100px rgba(1000, 1000, 1000, 0.2);
    padding: 20px;
    width: 50%;
    height: auto;
    text-align: center;
    overflow: visible;
}
.route-card h2 {
    font-size: clamp(1.4rem, 2vw, 1rem);
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    padding-bottom: 30px;

}

.route-card img {
    width: 25vw;
    height: 30vh;
    border-radius: 10px;
    object-fit: cover;
}
.route-card p {
    position: absolute;
    top: 10px; /* Odległość od górnej krawędzi karty */
    left: 10px; /* Odległość od lewej krawędzi karty */
    padding: 10px; /* Dodaj padding dla estetyki */
}
.route-image {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.r-button-container {
    display: flex; /* Ustawia przyciski obok siebie */
    gap: 20px; /* Odstęp między przyciskami */
    scale: 0.9;
    z-index: 2;
}

.r-filters {
    position: absolute;
    top: 5px;
    margin-bottom: 100px;
}
.rC-input {
    border-radius: 5px;
    scale: 1.4;
    width: 10vw;
    margin-right: 70px;
}
.rC-select {
    border-radius: 5px;
    scale: 1.4;
    width: 7vw;
}
.rC-p {
    font-size: 4vw;
}

.r-favourite-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 35vh;
    left: 20vw;
    scale: 1.7;
}

@media only screen and (max-width: 890px) {
    .r-filters {
        top: 25px;
    }
    .rC-container {
        margin-top: 50px;
        padding: 10px;
        max-width: 100vw;
    }
    .route-card {
        padding: 10px;
        width: 100%;
        height: 100px;
    }
    .rC-inside {
        position: relative;
        display: flex;
        padding: 10px;
        width: 100%;
        max-width: 100%; /* Upewnij się, że nie przekracza szerokości rodzica */
        height: 100px;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
    }
    .route-card h2 {
        margin-left: 20px;
        text-align: left;
        font-size: 24px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 280px;
    }
    .route-image {
        clip-path: circle();
        max-width: 80px;
        max-height: 80px;
        flex-shrink: 0;
        position: relative;
        top: 10px;
    }
    .r-favourite-btn {
        font-size: 18px;
        cursor: pointer;
        flex-shrink: 0;
        position: absolute;
        left: 90%;
        bottom: 40px;
    }
    .route-date {
        display: none;
    }
    .r-button-container {
        scale: 0.8;
        position: absolute;
        left: 60%;
    }
    .r-button-container button {
        padding: 5px;
        font-size: 12px;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .rC-input {
        width: 30vw;
    }
    .rC-select {
        width: 15vw;
        margin-left: 10px;
    }
}
.icon-button-details {
    display: none;
}
.icon-button-delete {
    display: none;
}
.icon-button-edit {
    display: none;
}
.icon-button-leave {
    display: none;
}
@media (max-width: 890px) {
    .full-button {
        display: none;
    }
    .r-button-container {
        position: absolute;
        left: 75%;
    }
    .icon-button-leave {
        display: inline-block;
        position: absolute;
        scale: 2.5;
        bottom: -15px;
        margin-left: -2vw;
    }
    .icon-button-details {
        display: inline-block;
        position: absolute;
        scale: 2.5;
        bottom: -15px;
        margin-left: 7vw;
    }
    .icon-button-delete {
        display: inline-block;
        position: absolute;
        scale: 2.5;
        bottom: -15px;
        right: -2px;
    }
    .icon-button-edit {
        display: inline-block;
        position: absolute;
        scale: 2.5;
        bottom: -15px;
        right: 10vw;
    }
}
@media (max-width: 690px) {
    .r-favourite-btn{
        scale: 1.3;
        left: 75%;
        bottom: 10px;
    }
    .r-button-container {
        scale: 0.5;
        left: 60%;
        bottom: 20px;
    }
    .icon-button-details {
        margin-left: 8vw;
    }
    .icon-button-edit {
        right: 80px;
    }
    .icon-button-leave {
        display: inline-block;
        position: absolute;
        scale: 2.5;
        bottom: -10px;
        margin-left: -10vw;
    }
    .rC-input {
        width: 35vw;
    }
    .rC-select {
        width: 15vw;
        margin-left: 0px;
    }
}
@media (max-width: 380px) {
    .rC-input {
        width: 35vw;
    }
    .rC-select {
        width: 20vw;
        margin-left: -20px;
    }
    .icon-button-edit {
        right: 50px;
    }
}






