/* Pasek u góry, wypełniony gradientem */
.top-bar {
    width: 100%;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    font-family: var(--font-family);
    font-size: 14px;
}

/* Link do e-maila */
.top-bar-email {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.top-bar-email:hover {
    color: #000;
}

/* Prawa część: ikony społecznościowe */
.top-bar-right {
    display: flex;
    gap: 1rem; /* Odstęp między ikonami */
}
.top-bar-left {
    display: flex;
}

.top-bar-icon {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.top-bar-icon:hover {
    color: #000;
}

/* Stylowanie responsywne */
@media (max-width: 340px) {
    .top-bar {
        flex-direction: column;
        padding: 0.2rem;
    }
    .top-bar-email{
        justify-content: center;
        align-items: center;
    }
    .top-bar-left,
    .top-bar-right {
        width: 100%;
        margin-bottom: 0.3rem;
        justify-content: center;
        align-items: center;
    }
}
