/*.terms-of-use-page {*/
/*    padding: 20px;*/
/*}*/

.content {
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    color: white;
}
.formularz{
    width: 800px;
    color: white;
}

/*.section {*/
/*    margin-bottom: 20px;*/
/*}*/

/*.section h3 {*/
/*    font-size: 1.25rem;*/
/*    margin-bottom: 10px;*/
/*}*/
