.container-404 {
    padding-left: 20px;
    color: #ffffff;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff;
    font-family: var(--font-family);
}
.container-404 h1 {
    font-size: 4.2rem;
}
.container-404 p {
    font-size: 2.2rem;
}
.container-404 a {
    font-size: 2.2rem;
}


