/* Kontener główny */
.centered-container {
    position: relative;
    width: 100%;
    height: 50vh; /* Pełna wysokość ekranu */
    display: flex;
    flex-direction: column; /* Ustaw elementy w kolumnie */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Logo w tle */
.logo-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    width: 25%;
    height: auto;
    z-index: 1;
}

.logo-background img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Tekst z efektem wcięcia */
.cutout-text {
    font-family: var(--font-family);
    font-size: 120px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 2%; /* Odstęp między tekstami */

    /* Subtelny efekt świecenia */
    text-shadow:
            0 0 5px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.6),
            0 0 15px rgba(255, 255, 255, 0.4),
            0 0 20px rgba(255, 255, 255, 0.2);

    animation: subtleGlow 3s infinite alternate; /* Subtelna animacja świecenia */
}

/* Animacja pulsującego świecenia */
@keyframes subtleGlow {
    0% {
        text-shadow:
                0 0 5px rgba(0, 0, 0, 0.8),
                0 0 10px rgba(255, 255, 255, 0.6),
                0 0 15px rgba(255, 255, 255, 0.4),
                0 0 20px rgba(255, 255, 255, 0.2);
    }
    100% {
        text-shadow:
                0 0 10px rgba(255, 255, 255, 1),
                0 0 15px rgba(255, 255, 255, 0.3),
                0 0 20px rgba(255, 255, 255, 0.5),
                0 0 25px rgba(255, 255, 255, 0.4);
    }
}

.text {
    font-family: var(--font-family);
    font-size: 100px; /* Mniejszy rozmiar w porównaniu do cutout-text */
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 2;

    /* Subtelny efekt świecenia */
    text-shadow:
            0 0 5px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.6),
            0 0 15px rgba(255, 255, 255, 0.4),
            0 0 20px rgba(255, 255, 255, 0.2);

    animation: subtleGlow 3s infinite alternate; /* Subtelna animacja świecenia */
}
